*{
    padding: 0;
    margin: 0;
}


body {
    background-color: rgb(46, 46, 92);
}

#fondoHome {
    background-image: url(/img/avion2.png);
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-size: cover;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.busqueda {
    background-color: white;
    width: 55%;
    margin-top: 13%;
    border: 1px solid grey;
    border-radius: 10px;
    height: fit-content;
    padding: 2%;
    box-shadow: 1px 1px 5px;
    display: flex;
    flex-wrap: wrap;
}

.busqueda input[type=text] {
    width: 45%;
    height: 34px;
    font-size: large;
    padding-left: 5px;
}

select {
    width: 45%;
    height: 34px;
    font-size: large;
    padding-left: 5px;
}

.busqueda input[type=number] {
    width: 150px;
    height: 30px;
    font-size: large;
    padding-left: 5px;
}

.busqueda input[type=date] {
    width: 150px;
    height: 30px;
    font-size: large;
    padding-left: 5px;
}

#buscar {
    width: 100%;
    font-family: system-ui;
    font-size: large;
    color: white;
    font-weight: 500;
    background-color: #2e2e5c;
    border: 0.5px solid white;
    border-radius: 10px;
}

#buscar:hover {
    background-color: #4e4e79;
    color: white;
}


#vuelos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    gap: 70px;
}

.cajareserva{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    height: 100px;
    text-align: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
}

.cajareserva button{
    background-color: #2e2e5c;
    color: white;
    font-family: system-ui;
    font-size: large;
    border: 0.5px solid white;
    width: 160px;
    height: 40px;
}

.cajareserva p{
    font-size:x-large;
    justify-content: space-between;
}

div.busqueda.busqueda2 {
    width: 90%;
    margin-top: 1%;
    height: fit-content !important; 
    display: flex;
    justify-content: space-around;
}

