* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #2e2e5c;
}

.pasajeros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

#continuar {
    font-family: system-ui;
    font-size: large;
    color: #2e2e5c;
    font-weight: 500;
    padding: 7px;
    background-color: aliceblue;
    border: 0.5px solid white;
    box-shadow: 1px 1px 6px black;
}

#continuar:hover {
    background-color: #4e4e79;
    color: aliceblue;
}

#precioTotal {
    font-family: system-ui;
    font-size: large;
    color: white;
    font-weight: 500;
}

#precioBoton {
    display: flex;
    justify-content: space-around;
    padding: 1%;
    background-color: #0000004f;
    align-items: center;
    position: relative;
    bottom: 0;
}